/*======================================
RESET
======================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Manrope',sans-serif;
    background:#ffffff;
    color:#171717;
    line-height:1.8;
    overflow-x:hidden;
}

img{
    max-width:100%;
    display:block;
}

.container{
    width:min(92%,1320px);
    margin:auto;
}

section{
    padding:100px 0;
}

/*======================================
HERO
======================================*/

.hero{
    position:relative;
    min-height:70vh;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    background:
        url("../images/corporate-hero.webp") center center/cover no-repeat;
}

.hero-overlay{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
        90deg,
        rgba(5,23,50,.88) 0%,
        rgba(5,23,50,.72) 45%,
        rgba(5,23,50,.35) 75%,
        rgba(5,23,50,.10) 100%
    );
}

.container{
    position:relative;
    z-index:2;
    width:min(92%,1320px);
    margin:auto;
}

.hero-content{
    position:relative;
    z-index:2
    max-width:700px;
    color:#fff;
    padding-top:40px;
    text-align:left;
}

.hero h1{
    color:#fff;
    font-size:clamp(52px,6vw,82px);
    font-weight:800;
    line-height:1.05;
    margin:22px 0 28px;
}

/*======================================
SECTION
======================================*/

.section h2{
    font-size:clamp(32px,3.5vw,52px);
    line-height:1.08;
    text-transform:uppercase;
    letter-spacing:-1px;
    margin-bottom:30px;
    color:#0f172a;
}

.content-box{
    max-width:1000px;
    margin:auto;
}

.content-box p{
    font-size:18px;
    color:#666;
    line-height:1.8;
}

.alt-section{
    background:#f8fafc;
}

/*======================================
BENEFITS
======================================*/

.benefit{
    max-width:1000px;
    margin:0 auto 50px;
    padding-bottom:40px;
    border-bottom:1px solid #e5e7eb;
}

.benefit:last-child{
    margin-bottom:0;
    padding-bottom:0;
    border-bottom:none;
}

.benefit h3{
    font-size:30px;
    font-weight:700;
    color:#0057B8;
    margin-bottom:18px;
}

.benefit p{
    font-size:18px;
    color:#666;
    line-height:1.8;
}

/*======================================
RESPONSIVE
======================================*/

@media(max-width:992px){

.hero{
    min-height:60vh;
}

.hero h1{
    font-size:clamp(46px,8vw,70px);
}

}

@media(max-width:768px){

section{
    padding:70px 0;
}

.hero{
    min-height:420px;
}

.hero h1{
    font-size:44px;
}

.section h2{
    margin-bottom:24px;
}

.content-box p,
.benefit p{
    font-size:16px;
}

.benefit{
    margin-bottom:35px;
    padding-bottom:30px;
}

.benefit h3{
    font-size:24px;
}

}

/*======================================
END OF FILE
======================================*/
